<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.pickledger.scores24</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/harshdave/Documents/PickLedgerPro/scripts/scrapers/scores24_publish_local.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/harshdave/Documents/PickLedgerPro</string>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key>
      <integer>9</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <dict>
      <key>Hour</key>
      <integer>15</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/pickledger-scores24.out.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/pickledger-scores24.err.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
